$page-bg: hsl(210, 14%, 75%);
$input-bg: #2f2f4f;  // Dark Slate Grey
$input-focus: #555591;
$section-bg: #f8f8f8;
$blocks-bg: #fffcd6;
$header-colour: #0f4d8a;

  
* {
  box-sizing: border-box;
}

body {
  background: $page-bg;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.container {
  width: 950px;
  margin: 20px auto;
}

#top-section {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin: 20px 0;
}

h1 {
  color: $header-colour;
  font-size: 24px;
  text-align: center;
}

#input-box {
  background: $section-bg;
  border: 1px solid $input-bg;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-columns: 3fr 6fr 1fr 10fr;
  justify-items: center;
  padding: 10px;

  span {
    color: $header-colour;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  label {
    color: $header-colour;
    justify-self: start;
    align-self: center;
  }

  input {
    background: $input-bg;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1em;
    padding: 0.25em 0.45em;

    &:focus {
      background: $input-focus;
    }
  }

  .rgb-input {
    width: 6em;
    text-transform: uppercase;
  }

  .hsl-input {
    width: 4em;
  }

  .swatch {
    align-self: center;
    border: 1px solid black;
    height: 23px;
    width: 23px;
  }
}

#info-table {
  background: $section-bg;
  border: 2px solid #000;
  border-collapse: collapse;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);

  th,
  td {
    padding: 0.38em 0.25em;
  }
  
  th {
    color: $header-colour;
    border: 2px solid $input-bg;
  }
  
  th.luminance {
    font-size: 90%;
  }
  
  td {
    border: 1px solid $input-bg;
    text-align: right;
    padding-right: 0.6em;
  }

  td.luminance {
    border-left: 2px solid $input-bg;
    border-right: 2px solid $input-bg;
  }
}

#colour-blocks {
  align-items: center;
  background: $blocks-bg;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  display: grid;
  font-size: 1.06em;
  grid-template-columns: 0.6fr repeat(7, 1fr);
  margin: 20px auto;
  padding: 10px;

  span {
    color: $header-colour;
    font-weight: bold;
    justify-self: center;
    margin-bottom: 0.5em;
  }

  span.line {
    justify-self: start;
  }

  .block {
    border: 1px solid $input-bg;
    cursor: default;

    p {
      line-height: 21px;
      text-align: center;
    }
  }
}

.sample-text {
  border: 5px solid black;
  padding: 10px;
}
